@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace CPSC_481_Project.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="CPSC 481 Project.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'/>
    <link href="css/custom-fonts/kyiv-type-titling/kyiv-type-titling.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/lib/bootstrap-icons/bootstrap-icons.css"/>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script>
        function updateOrderMessage() {
            var message = document.getElementById("actionSuccessful");
            var loggedInNavbar = document.getElementById("loggedInNavBar");

            if (loggedInNavbar.style.display == "none" || loggedInNavbar.style.display == "") {
                message.style.display = "flex";
            }
            else {
                message.style.display = "none";
                window.location.href = "/order-summary";
            }
        }
        function hideOrderMessage() {
            var message = document.getElementById("actionSuccessful");
            message.style.display = "none";
        }
        function updateLogin() {
            var loggedInNavbar = document.getElementById("loggedInNavBar");
            var loggedOutNavbar = document.getElementById("loggedOutNavBar");

            if (loggedInNavbar.style.display == "none" || loggedInNavbar.style.display == "") {
                loggedInNavbar.style.display = "grid";
                loggedOutNavbar.style.display = "none";
            }
            else {
                loggedInNavbar.style.display = "none";
                loggedOutNavbar.style.display = "grid";
            }
        }
        function updateNotification() {
            var notification1 = document.getElementById("notificationBasket1");
            var notification2 = document.getElementById("notificationBasket2");
            
            if (notification1.style.display == "none" || notification1.style.display == "") {
                notification1.style.display = "block";
            }
            else {
                notification1.style.display = "none";
            }
            if (notification2.style.display == "none" || notification2.style.display == "") {
                notification2.style.display = "block";
            }
            else {
                notification2.style.display = "none";
            }
        }
        function hideNotification() {
            var notification1 = document.getElementById("notificationBasket1");
            var notification2 = document.getElementById("notificationBasket2");
            notification1.style.display = "none";
            notification2.style.display = "none";
        }
        function updateSignUpStatus() {
            var status = document.getElementById("signUpSuccessful");

            if (status.style.display == "none" || status.style.display == "") {
                status.style.display = "flex";
            }
            else {
                status.style.display = "none";
            }
        }
        function updateEditStatus() {
            var status = document.getElementById("editSuccessful");

            if (status.style.display == "none" || status.style.display == "") {
                status.style.display = "flex";
            }
            else {
                status.style.display = "none";
            }
        }
    </script>
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
