@page "/account"

<div class="outer-container">
	<div class="backbtn-container">
		<BackButton />
	</div>
	<div class="middle-container">
		<div class="title-container">
			<div class="backbtn-container hidden-back-btn">
				<BackButton />
			</div>
			<div class="title">
				<i class="bi bi-person-fill account-icon"></i>
				<h1 class="page-title">Account</h1>
			</div>
		</div>
		<div class="inner-container">
			<div class="backbtn-container hidden-back-btn">
				<BackButton />
			</div>
			<div class="container">

			</div>
			<div class="container">

			</div>
			<div class="hidden-back-btn" style="padding: 0 0.5rem 0 0;">
				<BackButton />
			</div>
		</div>
	</div>
</div>

@code {

}
