@page "/account2"

<div class="outer-container">
	<div class="backbtn-container">
		<BackButton />
	</div>
	<div class="middle-container">
		<div class="title-container">
			<div class="backbtn-container hidden-back-btn">
				<BackButton />
			</div>
			<div class="title">
				<i class="bi bi-person-fill account-icon"></i>
				<h1 class="page-title">Account</h1>
			</div>
		</div>
		<div class="inner-container">
			<div class="backbtn-container hidden-back-btn">
				<BackButton />
			</div>
			<div class="container">
				<svg width="250" height="250" viewBox="0 0 180 180" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle cx="90" cy="90" r="82.5" fill="white" stroke="#F2EBE3" stroke-width="15" />
					<path d="M75 101.25C73.25 101.25 71.77 100.645 70.56 99.435C69.35 98.225 68.7467 96.7467 68.75 95C68.75 93.25 69.355 91.77 70.565 90.56C71.775 89.35 73.2533 88.7467 75 88.75C76.75 88.75 78.23 89.355 79.44 90.565C80.65 91.775 81.2533 93.2533 81.25 95C81.25 96.75 80.645 98.23 79.435 99.44C78.225 100.65 76.7467 101.253 75 101.25ZM105 101.25C103.25 101.25 101.77 100.645 100.56 99.435C99.35 98.225 98.7467 96.7467 98.75 95C98.75 93.25 99.355 91.77 100.565 90.56C101.775 89.35 103.253 88.7467 105 88.75C106.75 88.75 108.23 89.355 109.44 90.565C110.65 91.775 111.253 93.2533 111.25 95C111.25 96.75 110.645 98.23 109.435 99.44C108.225 100.65 106.747 101.253 105 101.25ZM90 130C101.167 130 110.625 126.125 118.375 118.375C126.125 110.625 130 101.167 130 90C130 88 129.875 86.0617 129.625 84.185C129.375 82.3083 128.917 80.4967 128.25 78.75C126.5 79.1667 124.75 79.48 123 79.69C121.25 79.9 119.417 80.0033 117.5 80C109.917 80 102.75 78.375 96 75.125C89.25 71.875 83.5 67.3333 78.75 61.5C76.0833 68 72.27 73.6467 67.31 78.44C62.35 83.2333 56.58 86.8367 50 89.25V90C50 101.167 53.875 110.625 61.625 118.375C69.375 126.125 78.8333 130 90 130ZM90 140C83.0833 140 76.5833 138.687 70.5 136.06C64.4167 133.433 59.125 129.872 54.625 125.375C50.125 120.875 46.5633 115.583 43.94 109.5C41.3167 103.417 40.0033 96.9167 40 90C40 83.0833 41.3133 76.5833 43.94 70.5C46.5667 64.4167 50.1283 59.125 54.625 54.625C59.125 50.125 64.4167 46.5633 70.5 43.94C76.5833 41.3167 83.0833 40.0033 90 40C96.9167 40 103.417 41.3133 109.5 43.94C115.583 46.5667 120.875 50.1283 125.375 54.625C129.875 59.125 133.438 64.4167 136.065 70.5C138.692 76.5833 140.003 83.0833 140 90C140 96.9167 138.687 103.417 136.06 109.5C133.433 115.583 129.872 120.875 125.375 125.375C120.875 129.875 115.583 133.438 109.5 136.065C103.417 138.692 96.9167 140.003 90 140Z" fill="#BEAF98" />
				</svg>
				<h1 style="margin: 0;">Tommy Miller</h1>
				<div style="text-align: center;">
					<p style="margin: 0;">thomasmiller2000@hotmail.com</p>
					<p style="margin: 0;">202-456-1111</p>
				</div>
				<a href="account/edit">
					<button>Edit Information</button>
				</a>
				<small>Member Since: 09/26/1981</small>
			</div>
			<div class="container" style="padding-bottom:4.5rem;">
				<h1 style="margin: 0;">Overdue Fees</h1>
				<svg width="150" height="150" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M45 65H55V75H45V65ZM45 25H55V55H45V25ZM50 0C22.35 0 0 22.5 0 50C0 63.2608 5.26784 75.9785 14.6447 85.3553C19.2876 89.9983 24.7995 93.6812 30.8658 96.194C36.9321 98.7067 43.4339 100 50 100C63.2608 100 75.9785 94.7322 85.3553 85.3553C94.7322 75.9785 100 63.2608 100 50C100 43.4339 98.7067 36.9321 96.194 30.8658C93.6812 24.7995 89.9983 19.2876 85.3553 14.6447C80.7124 10.0017 75.2005 6.31876 69.1342 3.80602C63.0679 1.29329 56.5661 0 50 0ZM50 90C39.3913 90 29.2172 85.7857 21.7157 78.2843C14.2143 70.7828 10 60.6087 10 50C10 39.3913 14.2143 29.2172 21.7157 21.7157C29.2172 14.2143 39.3913 10 50 10C60.6087 10 70.7828 14.2143 78.2843 21.7157C85.7857 29.2172 90 39.3913 90 50C90 60.6087 85.7857 70.7828 78.2843 78.2843C70.7828 85.7857 60.6087 90 50 90Z" fill="#FF3F3F" />
				</svg>
				<h3>Amount: <b>$5.00</b></h3>
				<a href="overdue-fees">
					<button>More Info</button>
				</a>
			</div>
			<div class="hidden-back-btn" style="padding: 0 0.5rem 0 0;">
				<BackButton />
			</div>
		</div>
	</div>
</div>

@code {

}
