@page "/basket"
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div class="outer-checkout-summary-container">
	<BackButton />
	<div class="inner-checkout-summary-container">
		<div class="title">
			<i class="bi bi-basket2-fill basket-icon"/>
			<h1 class="page-title">Checkout Summary</h1>
		</div>

		<div class="checkout-summary">

			<table style="width: 100%">
				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-catagory"><h2>Borrow</h2></div>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/enders-game.jpg" />
							</div>
							<div class="item-info">
								<h3 class="item-title">Ender's Game</h3>
								<h5 class="item-author">Gavin Hood</h5>
								<h6>Movie (144 minutes, 4K) | Sci-fi</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>

				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/the-fault-in-our-stars-book.png"/>
							</div>
							<div class="item-info">
								<h3 class="item-title">The Fault in Our Stars</h3>
								<h5 class="item-author">John Green</h5>
								<h6>Book (313 pages, Hardcover) | Fiction, Romance</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>

				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-catagory"><h2>Hold</h2></div>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/the-martian-movie.jpg" />
							</div>
							<div class="item-info">
								<h3 class="item-title">The Martian</h3>
								<h5 class="item-author">Ridley Scott</h5>
								<h6>Movie (142 minutes, 4K) | Sci-fi</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>
			</table>

			<div class="checkout">
				<h4 class="total-items">Total Items: <b>3</b></h4>
				<button class="checkout-button" href="#" @onclick="Request">Checkout</button>
			</div>

			<div class="action-successful" id="actionSuccessful" style="display: @actionSuccessful;">
				<div class="message">
					<h3 class="text">You must have an account to continue checking out items!</h3>
					<h5 class="text">Please login or sign-up if you do not have an account</h5>
					<button class="close-button" @onclick="CloseSuccessStatus">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	string actionSuccessful = "none";
	[CascadingParameter]
	protected bool? loggedIn { get; set; }
	

	private void Request()
	{
		JsRuntime.InvokeVoidAsync("updateOrderMessage");
		//NavigationManager.NavigateTo("order-summary");
	}

	private void CloseSuccessStatus()
	{
		JsRuntime.InvokeVoidAsync("hideOrderMessage");
	}
}
