@page "/browse-1"

<div class="outer-container">
    <BackButton />
    <div class="inner-container">
        <h1 class="personalized-browsing-quiz">Personalized Browsing Quiz</h1>
        <div class="quiz-container">
            <div class="left-panel">
                <h2>1. What genre do you like?</h2>

                <div class="option-container">
                    <label class="option">
                        <input type="checkbox">
                        Fiction
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Non-fiction
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Drama
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Triller
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Mystery
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Sci-fi
                    </label>
                </div>

                <a href="browse-2"><button class="next-button">Next</button></a>
            </div>
            <div class="right-panel">
                <img class="image" src="/Images/browse-1.jpg" />
            </div>
        </div>
    </div>
</div>
