.outer-container {
    padding: 0 0 0 0.5rem;
}

.inner-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.quiz-container {
    display: flex;
}

.left-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 738px;
    border-radius: 10px 0px 0px 10px;
    padding: 130px 0;
    background-color: #ffffff;
}

.quiz-title {
    text-align: center;
    font-size: 60px;
    font-family: 'Kyiv Type Titling';
}

.book-shelf {
    height: 500px;
    width: 418px;
    border-radius: 0px 10px 10px 0px;
}