@page "/browse-2"

<div class="outer-container">
    <BackButton />
    <div class="inner-container">
        <h1 class="personalized-browsing-quiz">Personalized Browsing Quiz</h1>
        <div class="quiz-container">
            <div class="left-panel">
                <h2>2. If you were at a party, you would...</h2>

                <div class="option-container">
                    <label class="option">
                        <input type="checkbox">
                        Talk to everyone/anyone
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Sit in a corner
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Befriend the host's pet
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Steal something
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        DJ for the party
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Leave
                    </label>
                </div>

                <a href="browse-3"><button class="next-button">Next</button></a>
            </div>
            <div class="right-panel">
                <img class="image" src="/Images/browse-2.jpg" />
            </div>
        </div>
    </div>
</div>
