@page "/browse-3"

<div class="outer-container">
    <BackButton />
    <div class="inner-container">
        <h1 class="personalized-browsing-quiz">Personalized Browsing Quiz</h1>
        <div class="quiz-container">
            <div class="left-panel">
                <h2>3. If you could have dinner with any</h2>
                <h2>of the following, who would it be?</h2>

                <div class="option-container">
                    <label class="option">
                        <input type="checkbox">
                        Marie Curie
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Mahatma Gandhi
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Michelle Obama
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Michael Jordan
                    </label>
                    <label class="option">
                        <input type="checkbox">
                        Michael Jackson
                    </label>
                </div>

                <a href="browse-results"><button class="next-button">Done</button></a>
            </div>
            <div class="right-panel">
                <img class="image" src="/Images/browse-3.jpg" />
            </div>
        </div>
    </div>
</div>
