@page "/basket"

<div class="outer-checkout-summary-container">
	<BackButton />
	<div class="inner-checkout-summary-container">
		<div class="title">
			<i class="bi bi-basket2-fill basket-icon" />
			<h1 class="page-title">Checkout Summary</h1>
		</div>

		<div class="checkout-summary">
			<table style="width: 100%">
				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/heartstopper-vol-1.jpg" />
							</div>
							<div class="item-info">
								<h3 class="item-title">Heartstopper (Vol. 1)</h3>
								<h5 class="item-author">Alice Oseman</h5>
								<h6>Graphic Novel (288 pages, Paperback)</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>

				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/heartstopper-vol-2.jpg"/>
							</div>
							<div class="item-info">
								<h3 class="item-title">Heartstopper (Vol. 2)</h3>
								<h5 class="item-author">Alice Oseman</h5>
								<h6>Graphic Novel (320 pages, Paperback)</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>

				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/heartstopper-vol-3.jpg"/>
							</div>
							<div class="item-info">
								<h3 class="item-title">Heartstopper (Vol. 3)</h3>
								<h5 class="item-author">Alice Oseman</h5>
								<h6>Graphic Novel (384 pages, Paperback)</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>

				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/heartstopper-vol-4.jpg"/>
							</div>
							<div class="item-info">
								<h3 class="item-title">Heartstopper (Vol. 4)</h3>
								<h5 class="item-author">Alice Oseman</h5>
								<h6>Graphic Novel (384 pages, Paperback)</h6>
							</div>
							<button class="small-button remove-button">Remove</button>
						</div>
					</th>
				</tr>
			</table>

			<div class="checkout">
				<h4 class="total-items">Total Items: <b>4</b></h4>
				<a href="order-summary" class="checkout-button"><button>Checkout</button></a>
			</div>
		</div>
	</div>
</div>
