@page "/account/edit"
@inject IJSRuntime JsRuntime

<PageTitle>Edit Account | Hawkins Public Library</PageTitle>

@inject NavigationManager NavManager

<div class="outer-container">
	<div class="title">
		<i class="bi bi-pencil-fill account-icon"></i>
		<h1 class="page-title">Edit Account Information</h1>
	</div>
	<div class="edit-info-container">
		<div class="inputs-container">
			<div>
				<h2 class="input-field">First Name</h2>
				<input type="text" class="input-styling" placeholder="Tommy" value="Tommy" />
			</div>
			<div>
				<h2 class="input-field">Last Name</h2>
				<input type="text" class="input-styling" placeholder="Miller" value="Miller" />
			</div>
		</div>
		<div class="inputs-container">
			<div>
				<h2 class="input-field">Email Address</h2>
				<input type="email" class="input-styling" placeholder="tmiller1981@aol.com" value="tmiller1981@aol.com" />
				<h5 style="margin: 1rem 0 0 1rem"><a href="/account">Change Password?</a></h5>
			</div>
			<div>
				<h2 class="input-field">Phone Number</h2>
				<input type="tel" class="input-styling" placeholder="202-456-1111" value="202-456-1111" />
			</div>
		</div>
		<div class="buttons-container">
			<a href="/account"><button class="secondary-button">Cancel</button></a>
			<a href="/account2"><button @onclick="ShowEditStatus">Save</button></a>
		</div>
	</div>
</div>

@code {


	private void ShowEditStatus()
	{
		JsRuntime.InvokeVoidAsync("updateEditStatus");
	}
}
