@page "/account/edit"

<PageTitle>Edit Account | Hawkins Public Library</PageTitle>

@inject NavigationManager NavManager

<div class="outer-container">
	<div class="title">
		<i class="bi bi-pencil-fill account-icon"></i>
		<h1 class="page-title">Edit Account Information</h1>
	</div>
	<div class="edit-info-container">
	</div>
</div>

@code {

}
