@page "/help"

<div class="container">

    <h1 class="faq-title">Frequently Asked Questions</h1>

    <details>
        <summary>
            Can't find a certain item?
        </summary>
        <div>
            You can try searching for the item using different keywords or using the advanced search options. If you are still unable to find the item, you can contact the library's support team for assistance.
        </div>
    </details>

    <details>
        <summary>
            Why can't I borrow items?
        </summary>
        <div>
            There could be several reasons why you are unable to borrow items, such as having overdue materials, exceeding the maximum number of items allowed to borrow, or an expired library card. You can contact the library's support team to check the status of your account and resolve any issues.
        </div>
    </details>

    <details>
        <summary>
            Found a damaged item?
        </summary>
        <div>
            If you have found a damaged item in the library, you can bring it to the attention of the library staff. They will take the necessary steps to repair or replace the item.
        </div>
    </details>

    <details>
        <summary>
            How long can I borrow an item for?
        </summary>
        <div>
            The borrowing period for items from an online library system varies depending on the library's policy. Typically, you can borrow materials for 1-3 weeks, and some libraries may allow you to renew them for an additional period. You can check the due date for each item in your account.
        </div>
    </details>

    <details>
        <summary>
            Contact library support?
        </summary>
        <div>
            Please proceed to the front desk or call us at 1-800-859-3959.
        </div>
    </details>

    <details>
        <summary>
            Where do I get my library card?
        </summary>
        <div>
            To get your library card, please visit Hawkins Public Library.
        </div>
    </details>
</div>