@page "/"

<div class="homepageContainer">
	<div class="homepageLeftSide">
		<div/>
		<div>
			<h1 class="homepageTitle">What are you<br />looking for?</h1>
			<input type="text" class="homepageSearchbar" placeholder="Enter title/author/genre..." />
			<a href="browse" class="browseInventoryText">
				<p>Don’t know what you’re looking for? Click here to browse!</p>
			</a>
		</div>
		<div />
	</div>
	<div class="mostBorrowedContainer">
		<h2>Most Borrowed of the Week</h2>
		<img class="mostBorrowedItem" src="/Images/everything-everywhere-all-at-once.jpg" />
	</div>
</div>

@code {
	//<input type="text" class="homepageSearchbar" />
}
