.homepageContainer {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 53% 47%;
    padding: 1rem 2rem 0 2rem;
}

.homepageSearchbar {
    border-radius: 14px;
    border: 2px solid #272A34;
    border-radius: 50px;
    height: 53px;
    width: 100%;
    padding-left: 1.813rem;
    margin-bottom: 1rem;
    font-size: 20px;
}

.homepageLeftSide {
    height: 100%;
    width: 100%;
    padding: 0 3rem 0 2rem;
    display: grid;
    grid-template-rows: 25% fit-content(100%) auto;
}

.homepageTitle {
    font-size: 60px;
    padding-bottom: 2rem;
    font-family: 'Kyiv Type Titling';
}

.browseInventoryText {
    color: inherit;
    text-align: center;
}

.mostBorrowedContainer {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    padding: 1.875rem 6.25rem 0 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mostBorrowedItem {
    height: 650px;
    width: 100%;
    object-fit: contain;
}