.homepage-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 53% 47%;
    padding: 1rem 2rem 0 2rem;
}

.homepage-searchbar {
    border: 2px solid #272A34;
    border-radius: 50px;
    height: 53px;
    width: 100%;
    padding-left: 1.813rem;
    margin-bottom: 1rem;
    font-size: 20px;
}

.homepage-left-side {
    height: 100%;
    width: 100%;
    padding: 0 3rem 0 2rem;
    display: grid;
    grid-template-rows: 25% fit-content(100%) auto;
}

.homepage-title {
    font-size: 60px;
    padding-bottom: 2rem;
    font-family: 'Kyiv Type Titling';
}

.quiz-prompt {
    text-align: center;
    color: inherit;
}

.most-borrowed-container {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px 10px 0px 0px;
    padding: 1.875rem 6.25rem 0 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.most-borrowed-item {
    height: 650px;
    width: 100%;
    object-fit: contain;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(-0.25rem 0.5rem 0.5rem #b1b1b1);
}