@page "/"

<div class="homepage-container">
	<div class="homepage-left-side">
		<div/>
		<div>
			<h1 class="homepage-title">What are you<br />looking for?</h1>
			<input type="text" class="homepage-searchbar" placeholder="Enter title/author/genre..." />
			<a href="browse" class="quiz-prompt"><p>Click here to take a personalized suggestions quiz!</p></a>
		</div>
		<div />
	</div>
	<div class="most-borrowed-container">
		<div style="margin: auto;">
			<h2 style="text-align: center;">Most Borrowed of the Week</h2>
			<img class="most-borrowed-item" src="/Images/everything-everywhere-all-at-once.jpg" />
		</div>
	</div>
</div>

@code {
	//<input type="text" class="homepageSearchbar" />
}
