@page "/item/{item_name}"

<div class="item-page-container">
    <div class="item1">
        <BackButton/>
        <div class="item-left-side">
            <div class="book">
                    <img class="displayed-item" src="/Images/fault-in-our-stars.png" style="width:250px;height:400px;" id="userAvatar"/>
                    <div style = "position:relative; left:300px; bottom:80px;">
                        <p style="font-size: 50px;padding:0;margin:0;">The Fault in Our Stars</p>
                        <p style="font-size: 25px;;padding:0;margin:0;">John Green</p>
                        <p style="font-size: 14px;;padding:0;margin:0;">Book (313 pages, Hardcover)</p>
                    </div>
                </div>
                <div class="book-content">
                    <div class="top-part">
                        <div/>
                        <h3 style="margin:auto 0;">Copies: 3, Available: 0, Hold: 1</h3>
                        <button style="margin:auto 0;">Hold</button>
                    </div>
                    <br>
                    <hr style="margin: 0 20px 0 375px;color:#d3c2ae;height:2px;">
                    <br>
                    <div class="bottom-part">
                        <div style="flex:80">
                            <p style="font-size: 20px;padding:0;margin:0">Description</p>
                            <p style="font-size: 14px;padding:0;margin:0">Despite the tumor-shrinking medical miracle that has bought her a few years, Hazel has never been anything but terminal, her final chapter inscribed upon diagnosis. But when a gorgeous plot twist named Augustus Waters suddenly appears at Cancer Kid Support Group, Hazel's story is about to be completely rewritten.<br><br>Insightful, bold, irreverent, and raw, The Fault in Our Stars is award-winning author John Green's most....</p>
                            <button class="read-more">Read More</button>
                        </div>
                        <div style="flex:20;">
                            <p style="font-size: 20px;padding:0;margin:0">Location</p>
                            <p style="font-size: 14px;padding:0;margin:0">Floor 2</p>
                            <p style="font-size: 14px;padding:0;margin:0">YA</p>
                            <br>
                            <p style="font-size: 20px;padding:0;margin:0">Genre</p>
                            <p style="font-size: 14px;padding:0;margin:0">Romance Fiction</p>
                            <p style="font-size: 14px;padding:0;margin:0">Young Adult Fiction</p>

                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="item1">
        <div class="item-right-side">
            <h3>Readers <i>also</i> enjoyed</h3>
            <div class="books-container">
                <div class="book-basket">
                    <button class="add-to-basket" style="padding:0 10px 0 10px;">Add to basket</button>
                    <img class="displayed-item" src="/Images/me-before-you.jpeg" />
                    <p class="title">Me Before You</p>
                    <p class="author">Jojo Mayes</p>
                </div>
                <div class="book-basket">
                    <button class="add-to-basket" style="padding:0 10px 0 10px;">Add to basket</button>
                    <img class="displayed-item" src="/Images/eleanor-park.jpeg" />
                    <p class="title">Eleanor & Park</p>
                    <p class="author">Rainbow Rowell</p>
                </div>
                <div class="book-basket">
                    <button class="add-to-basket" style="padding:0 10px 0 10px;">Add to basket</button>
                    <img class="displayed-item" src="/Images/twilight.jpeg" />
                    <p class="title">Twilight</p>
                    <p class="author">Stephanie Meyer</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
	//<input type="text" class="homepageSearchbar" />

    [Parameter]  
    public string item_name { get; set; } 
}
