@page "/items"

<div class="outer-container">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Active</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" aria-current="page" href="#">Active</a>
		</li>
	</ul>
	<div class="content-container">
		<h2 style="margin: 0">The Martian</h2>
		<h5>Mike Weir</h5>
		<div class="item-subinfo">
			<h4>Due In: <b style="color: #ff3f3f;">2 Days</b></h4>
			<button>Renew</button>
		</div>
		<hr/>
		<h2 style="margin: 0">The Martian</h2>
		<h5>Mike Weir</h5>
		<div class="item-subinfo">
			<h4>Due In: <b style="color: #ff3f3f;">2 Days</b></h4>
			<button>Renew</button>
		</div>
	</div>
</div>

@code {

}
