@page "/no-overdue-fees"

<div class="outer-no-overdue-fees-container">
	<BackButton />
	<div class="inner-no-overdue-fees-container">
		<div class="title">
			<i class="bi bi-currency-dollar money-icon" />
			<h1 class="page-title">Overdue Fees</h1>
		</div>

		<div class="no-overdue-fees">
			<div class="message">
				<i class="bi bi-emoji-smile smile-icon" />
				<h5>Hooray, you have no overdue items!</h5>
			</div>
		</div>
	</div>
</div>
