@page "/notFound"

<div class="item-page-container">
    <div class="item1">
        <div class="item-left-side">
            <h3><i>Similar</i> Items</h3>
            <div class="books-container">
                <div class="book-basket">
                    <button class="add-to-basket" style="padding:0 10px 0 10px;">Add to basket</button>
                    <img class="displayed-item" src="/Images/everything-everywhere-all-at-once.jpg" />
                    <p class="title">placeholder</p>
                    <p class="author">placeholder</p>
                </div>
                <div class="book-basket">
                    <button class="add-to-basket" style="padding:0 10px 0 10px;">Add to basket</button>
                    <img class="displayed-item" src="/Images/everything-everywhere-all-at-once.jpg" />
                    <p class="title">placeholder</p>
                    <p class="author">placeholder</p>
                </div>
                <div class="book-basket">
                    <button class="add-to-basket" style="padding:0 10px 0 10px;">Add to basket</button>
                    <img class="displayed-item" src="/Images/everything-everywhere-all-at-once.jpg" />
                    <p class="title">placeholder</p>
                    <p class="author">placeholder</p>
                </div>
            </div>
        </div>
    </div>
    <div class="item2">
        <div class="item-right-side">
            <div class="top-part">
                <div class="search-bar-container">
                    <input type="text" class="search-bar" placeholder="Math 20-1: The Key" />
                    <span class="search-icon">
                        <button class="search-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </span>
                </div>
                <p style="font-size: 25px;float: right;margin-top: 10px;">0 results found</p>
            </div>
            <div class="content">
                <i class="bi bi-emoji-frown" style="color:#d3c2ae;font-size:70px"></i>
                <p style="font-size: 25px;margin:0;">Want to request new inventory?</p>
                <a href="requestInventory" style="text-decoration-color: #d3c2ae;">
                    <p style="font-size: 25px;margin:0;color:#d3c2ae;">Click Here!</p>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
	//<input type="text" class="homepageSearchbar" />
}
