@page "/order-summary"

<div class="order-summary-container">
	<div class="title">
		<i class="bi bi-card-list list-icon"/>
		<h1 class="page-title">Order Summary</h1>
	</div>

	<div class="order-summary">
		<div class="order-info">
			<h3>Order Number: <b>345A 23E1 4EY0</b></h3>
			<h4>Items:</h4>
			<ul>
				<li><h5>Ender's Game</h5></li>
				<li><h5>The Fault in Our Stars</h5></li>
			</ul>
		</div>

		<div class="order-message">
			<h5 class="message">Your order will be ready in 1 - 2 days. You will receive an email when it is ready to pickup at <b>Hawkins Public Library</b>. Thank you!</h5>
		</div>
	</div>

</div>
