outer-overdue-fees-container {
    padding: 0 0 0 0.5rem;
}

.inner-overdue-fees-container {
    width: fit-content;
    margin: 0 auto;
}

.title {
    align-items: center;
    display: flex;
}

.money-icon {
    font-size: 40px;
    color: #BEAF98;
}

.page-title {
    padding: 0 0 0 2px;
    margin: 5px 0 0 0;
}

.overdue-fees {
    margin: auto;
    margin-bottom: 50px;
    height: fit-content;
    width: 1156px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
}

.item-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.message {
    padding: 20px;
    color: #ffffff;
}

.warning-message {
    margin: auto;
    height: 89px;
    width: 650px;
    text-align: center;
    background-color: #FF3F3F;
    border-radius: 10px;
}

.image {
    height: 170px;
    width: 120px;
    margin: 25px 25px 25px 0;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(-0.25rem 0.25rem 0.25rem #b1b1b1);
}

.fee-amount {
    margin-left: auto;
}

.total-fees {
    margin: 25px 0 0 0;
}

.total {
    align-items: center;
    display: flex;
    flex-direction: row;
}
