@page "/overdue-fees"

<div class="outer-overdue-fees-container">
	<BackButton />
	<div class="inner-overdue-fees-container">
		<div class="title">
			<i class="bi bi-currency-dollar money-icon" />
			<h1 class="page-title">Overdue Fees</h1>
		</div>

		<div class="overdue-fees">

			<div class="warning-message">
				<h5 class="message">Please return your overdue items to <b>Hawkins Public Library</b> and pay an overdue fee totaling <b><u>$5.00</u></b> at the front desk.</h5>
			</div>

			<table style="width: 100%">
				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/enders-game.jpg" />
							</div>
							<div class="item-info">
								<h3 class="item-title">Ender's Game</h3>
								<h5 class="item-author">Gavin Hood</h5>
								<h6>Movie (144 minutes, 4K) | Sci-fi</h6>
							</div>
							<h4 class="fee-amount">Fee: <b>$2.50</b></h4>
						</div>
					</th>
				</tr>

				<tr style="border-bottom: 1px solid #ddd">
					<th>
						<div class="item-container">
							<div class="item-image">
								<img class="image" src="/Images/the-fault-in-our-stars-book.png" />
							</div>
							<div class="item-info">
								<h3 class="item-title">The Fault in Our Stars</h3>
								<h5 class="item-author">John Green</h5>
								<h6>Book (313 pages, Hardcover) | Fiction, Romance</h6>
							</div>
							<h4 class="fee-amount">Fee: <b>$2.50</b></h4>
						</div>
					</th>
				</tr>
			</table>

			<div class="total">
				<h4 class="total-fees">Total Fees: <b>$5.00</b></h4>
			</div>
		</div>
	</div>
</div>
