@page "/quiz-results"

<div class="quiz-results-containter">

    <h1 class="quiz-results-title">Items You Might Enjoy Based on the Quiz</h1>
    <a href="quiz" class="retake-quiz">
        <h5>Don’t see anything you like? Click here to retake the quiz!</h5>
    </a>

    <table style="margin-left: auto; margin-right: auto">
        <tr>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/dune.jpg" />
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">Dune</h3>
                        <h5 class="item-author">Frank Herbert</h5>
                        <h6 class="book-details">Book (412 pages, Paperback) | Sci-fi</h6>
                        <h6>Set on the desert planet Arrakis, Dune is the story of the boy Paul Atreides, heir to a noble family tasked with ruling an inhospitable world where the only thing of value is the “spice” melange, a drug capable of extending life and enhancing consciousness...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 3, Available: 2, Hold: 0</h6>
                    </div>
                </div>
            </th>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/enders-game.jpg" />
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">Ender's Game</h3>
                        <h5 class="item-author">Gavin Hood</h5>
                        <h6 class="book-details">Movie (144 minutes, 4K) | Sci-fi</h6>
                        <h6>In order to develop a secure defense against a hostile alien race's next attack, government agencies breed child geniuses and train them as soldiers. A brilliant young boy, Andrew "Ender" Wiggin lives with his kind but distant parents, his sadistic brother...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 1, Available: 1, Hold: 0</h6>
                    </div>
                </div>
            </th>
        </tr>

        <tr>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/the-glass-hotel.jpg" />
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">The Glass Hotel</h3>
                        <h5 class="item-author">Emily St. John Mandel</h5>
                        <h6 class="book-details">Book (320 pages, Paperback) | Fiction, Mystery</h6>
                        <h6>Vincent is a bartender at the Hotel Caiette, a five-star glass-and-cedar palace on the northernmost tip of Vancouver Island. The owner of the hotel is New York financier Jonathan Alkaitis. When he passes Vincent his card with a tip, it’s the beginning...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 3, Available: 2, Hold: 0</h6>
                    </div>
                </div>
            </th>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/the-martian.jpg"/>
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">The Martian</h3>
                        <h5 class="item-author">Andy Weir</h5>
                        <h6 class="book-details">Book (369 pages, Paperback) | Sci-fi</h6>
                        <h6>Six days ago, astronaut Mark Watney became one of the first people to walk on Mars.Now, he's sure he'll be the first person to die there.After a dust storm nearly kills him and forces his crew to evacuate while thinking him dead, Mark finds himself...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 2, Available: 1, Hold: 0</h6>
                    </div>
                </div>
            </th>
        </tr>

        <tr>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/the-alchemist.jpg" />
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">The Alchemist</h3>
                        <h5 class="item-author">Paulo Coelho</h5>
                        <h6 class="book-details">Book (197 pages, Paperback) | Fiction</h6>
                        <h6>The Alchemist is the magical story of Santiago, an Andalusian shepherd boy who yearns to travel in search of a worldly treasure as extravagant as any ever found. From his home in Spain he journeys to the markets of Tangiers and across the Egyptian...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 5, Available: 3, Hold: 0</h6>
                    </div>
                </div>
            </th>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/the-radium-girls.jpg"/>
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">The Radium Girls</h3>
                        <h5 class="item-author">Kate Moore</h5>
                        <h6 class="book-details">Book (504 pages, Paperback) | Biography</h6>
                        <h6>For fans of Hidden Figures, comes the incredible true story of the women heroes who were exposed to radium in factories across the U.S. in the early 20th century, and their brave and groundbreaking battle to strengthen workers' rights, even as the fatal...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 1, Available: 1, Hold: 0</h6>
                    </div>
                </div>
            </th>
        </tr>

        <tr>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/storm-watch.jpg" />
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">Storm Watch</h3>
                        <h5 class="item-author">C.J. Box</h5>
                        <h6 class="book-details">Book (363 pages, Paperback) | Mystery</h6>
                        <h6>When a prominent University of Wyoming professor goes missing, authorities are stumped. That is, until Joe Pickett makes two surprising discoveries while hunting down a wounded elk on his district as an epic spring storm descends upon him...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 2, Available: 1, Hold: 0</h6>
                    </div>
                </div>
            </th>
            <th>
                <div class="item-container">
                    <div class="item-image">
                        <img class="image" src="/Images/the-catcher-in-the-rye.jpg" />
                    </div>

                    <div class="item-info">
                        <button class="small-button add-to-basket-button">Add To Basket</button>
                        <h3 class="item-title">The Catcher in the Rye</h3>
                        <h5 class="item-author">J.D. Salinger</h5>
                        <h6 class="book-details">Book (234 pages, Paperback) | Coming-of-age</h6>
                        <h6>The hero-narrator of THE CATCHER IN THE RYE is an ancient child of sixteen, a native New Yorker named Holden Caulfield. Through circumstances that tend to preclude adult, secondhand description, he leaves his prep school in Pennsylvania and...</h6>
                        <div class="read-more-button"><div /><button class="small-button">Read More</button></div>
                        <h6 class="available-copies">Copies: 1, Available: 1, Hold: 0</h6>
                    </div>
                </div>
            </th>
        </tr>
    </table>

</div>