@page "/quiz"

<div class="outer-container">
    <BackButton />
    <div class="inner-container">
        <h1 class="personalized-browsing-quiz">Personalized Browsing Quiz</h1>
        <div class="quiz-container">
            <div class="left-panel">
                <h1 class="quiz-title">What's something I</h1>
                <h1 class="quiz-title">would enjoy?</h1>
                <p>Take this quick 3 - question quiz to find out!</p>
                <a href="quiz-1"><button>Start</button></a>
            </div>
            <div class="right-panel">
                <img class="image" src="/Images/quiz-0.jpg" />
            </div>
        </div>
    </div>
</div>