.quiz-results-container {
    width: 100%;
    height: 100%;
}

.quiz-results-title {
    margin: 0;
    text-align: center;
    padding-bottom: 1rem;
}

.retake-quiz {
    text-align: center;
    color: inherit;
}

.item-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 290px;
    width: 620px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 5px;
}

.image {
    height: 230px;
    width: 148px;
    margin: 0 20px 0 25px;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(-0.25rem 0.25rem 0.25rem #b1b1b1);
}

.item-info {
    padding: 21px 20px 0 0;
}

.add-to-basket-button {
    float: right;
}

.available-copies {
    float: right;
}

.added-button {
    background-color: #87B54F;
    border-color: #87B54F;
}
