.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

#spanText {
    visibility: hidden;
    position: absolute;
    width: 130px;
    left: 50%;
    margin-top: 3em;
    margin-left: -110px;
    background-color: #363636;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

#spanText::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

.tooltip-wrapper:hover #spanText {
    visibility: visible;
}
