@inherits LayoutComponentBase

<PageTitle>CPSC 481 Project</PageTitle>

<div class="page">

    <main class="px-4">
        <Navbar/>
        <article class="container-fluid">
            @Body
        </article>
    </main>
</div>
