.pageContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: fit-content(100%) auto;
    gap: 0.5rem;
    padding: 1rem 1rem 0 1rem;
}

.bodyContainer {
    height: 100%;
    width: 100%;
}
