@inherits LayoutComponentBase

<PageTitle>Hawkins Public Library</PageTitle>

<div class="page-container">
    <CascadingValue Value="@loggedIn" Name="loggedIn">
    <Navbar />
    <div class="body-container">
        @Body
    </div>
    </CascadingValue>
</div>

@code {
    private bool loggedIn = false;

    private void setLoggedIn(bool status)
    {
        Console.WriteLine("main layout func");
        loggedIn = status;
        StateHasChanged();
        Console.WriteLine(loggedIn);
    }
}