.navbar-container {
    height: fit-content;
    width: 100%;
    padding: 0 0 0.5rem 0;
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
    gap: 1rem;
}

.nav-header {
    color: inherit;
    text-decoration: none;
}

.nav-icon {
    font-size: 2rem;
    color: #272a34;
}

.nav-icon:hover {
    color: #ff3f3f;
}

.nav-icon:active {
    color: #ff3f3f80;
}

.selected-nav-icon {
    color: #ff3f3f;
}

.selected-nav-icon:hover {
    color: #272a34;
}

.selected-nav-icon:active {
    color: #272a3480;
}

.login-popup {
    position: absolute;
    top: 0;
    right: 0;
    margin: 85px 20px 0 0;
    background-color: white;
    padding: 20px 30px;
    border: 2px solid #272A34;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
}

input {
    display: block;
    margin: 1em;
    border: 1px solid #272A34;
    border-radius: 50px;
    padding: 0.2em 1em;
    font-size: large;
}

.login-form-button {
    font-size: initial;
    padding: 0.2rem 1rem;
}

.triangle-border {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 21px solid #2f2f2f;
    position: absolute;
    top: 0;
    right: 0;
    margin: 64px 52px;
}

.triangle {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 21px solid white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 67px 52px;
    z-index: 2;
}

.login-status {
    margin: 0;
    padding-right: 1em;
}

.login-successful {
    border-radius: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: #87B54F;
    color: white;
    padding: 1em;
    right: 0;
    left: 0;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

.bi-x-lg {
    cursor: pointer;
    margin: auto;
}

.account-info-popup {
    position: absolute;
    top: 0;
    right: 0;
    margin: 78px 10px 0 0;
    background-color: white;
    border: 2px solid #272A34;
    border-radius: 10px;
    text-align: left;
    z-index: 2;
}

.account-info-popup p {
    margin: 0.5em 1em;
    font-size: large;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.account-info-popup a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

hr {
    margin: 0;
}

.triangle-border-account {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 21px solid #2f2f2f;
    position: absolute;
    top: 0;
    right: 0;
    margin: 57px 17px;
}

.triangle-account {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 21px solid white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 17px;
    z-index: 2;
}
