@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div id="loggedOutNavBar" class="navbar-container">
    <a href="#" class="nav-header"><h2 style="margin: 0;">Hawkins Public Library</h2></a>
    <div></div>
    <a href="recommendations"><CPSC_481_Project.Pages.Tooltip Text="<b>Recommendations</b>"><i class="bi bi-hand-thumbs-up-fill nav-icon"></i></CPSC_481_Project.Pages.Tooltip></a>
    <a href="basket" @onclick="updateNotification"><CPSC_481_Project.Pages.Tooltip Text="<b>Basket</b>"><i class="bi bi-basket2-fill nav-icon"/></CPSC_481_Project.Pages.Tooltip></a>
    <div class="notification" id="notificationBasket1"></div>
    <a href="help"><CPSC_481_Project.Pages.Tooltip Text="<b>Help</b>"><i class="bi bi-question-circle nav-icon"/></CPSC_481_Project.Pages.Tooltip></a>
    <a href="sign-up"><button>Sign Up</button></a>
    <button @onclick="ShowLogin">Login</button>
    <div class="login-popup" style="display:@loginDisplay">
        <input id="email" placeholder="E-mail"/>
        <input id="password" type="password" placeholder="Password"/>
        <button class="login-form-button" @onclick="Login">Login</button>
    </div>
    <div class="triangle-border" style="display:@loginDisplay"></div>
    <div class="triangle" style="display:@loginDisplay"></div>
    <div class="login-successful" style="display:@logoutSuccessful">
        <p class="login-status">Successfully logged out</p>
        <svg @onclick="CloseSuccessStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
    </div>
</div>
<div id="loggedInNavBar" class="navbar-container">
    <a href="#" class="nav-header"><h2 style="margin: 0;">Hawkins Public Library</h2></a>
    <div></div>
    <a href="recommendations"><CPSC_481_Project.Pages.Tooltip Text="<b>Recommendations</b>"><i class="bi bi-hand-thumbs-up-fill nav-icon"></i></CPSC_481_Project.Pages.Tooltip></a>
    <a href="basket" @onclick="updateNotification"><CPSC_481_Project.Pages.Tooltip Text="<b>Basket</b>"><i class="bi bi-basket2-fill nav-icon" /></CPSC_481_Project.Pages.Tooltip></a>
    <div class="notification" id="notificationBasket2"></div>
    <a href="items"><CPSC_481_Project.Pages.Tooltip Text="<b>Borrowed and Held Items</b>"><i class="bi bi-book-half nav-icon"></i></CPSC_481_Project.Pages.Tooltip></a>
    <a href="help"><CPSC_481_Project.Pages.Tooltip Text="<b>Help</b>"><i class="bi bi-question-circle nav-icon" /></CPSC_481_Project.Pages.Tooltip></a>
    <CPSC_481_Project.Pages.Tooltip Text="<b>Account</b>"><i @onclick="ShowAccountInfo" class="bi bi-person-circle nav-icon"></i></CPSC_481_Project.Pages.Tooltip>
    <div class="account-info-popup" style="display:@accountInfoDisplay">
        <a href="account"><p @onclick="ShowAccountInfo">Account Info.</p></a>
        <hr />
        <a href="#"><p @onclick="Logout">Logout</p></a>
    </div>
    <div class="triangle-border-account" style="display:@accountInfoDisplay"></div>
    <div class="triangle-account" style="display:@accountInfoDisplay"></div>
    <div class="login-successful" style="display:@loginSuccessful">
        <p class="login-status">Successfully logged in</p>
        <svg @onclick="CloseSuccessStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
    </div>
    <div class="login-successful" id="signUpSuccessful">
        <p class="login-status">Successfully signed up</p>
        <svg @onclick="CloseSignUpStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
    </div>
    <div class="login-successful" id="editSuccessful">
        <p class="login-status">Successfully updated account</p>
        <svg @onclick="CloseEditStatus" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
        </svg>
    </div>
</div>

@code {
    string loginDisplay = "none";
    string loginSuccessful = "none";
    string loggedInNavBar = "none";
    string loggedOutNavBar = "grid";
    string accountInfoDisplay = "none";
    string logoutSuccessful = "none";
    [CascadingParameter]
    protected bool? loggedIn { get; set; }

    private void ShowLogin()
    {
        if(loginDisplay == "none")
        {
            loginDisplay = "block";
        }
        else
        {
            loginDisplay = "none";
        }
    }

    private void ShowAccountInfo()
    {
        if (accountInfoDisplay == "none")
        {
            accountInfoDisplay = "block";
        }
        else
        {
            accountInfoDisplay = "none";
        }
    }

    private void Login()
    {
        loginDisplay = "none";
        loginSuccessful = "flex";
        loggedInNavBar = "grid";
        loggedOutNavBar = "none";
        loggedIn = true;
        JsRuntime.InvokeVoidAsync("updateLogin");
    }

    private void Logout()
    {
        accountInfoDisplay = "none";
        logoutSuccessful = "flex";
        loggedInNavBar = "none";
        loggedOutNavBar = "grid";
        loggedIn = false;
        JsRuntime.InvokeVoidAsync("updateLogin");
        NavigationManager.NavigateTo("/");
    }

    private void CloseSuccessStatus()
    {
        loginSuccessful = "none";
        logoutSuccessful = "none";
    }

    private void updateNotification()
    {
        JsRuntime.InvokeVoidAsync("hideNotification");
    }
        
    private void CloseSignUpStatus()
    {
        JsRuntime.InvokeVoidAsync("updateSignUpStatus");
    }

    private void CloseEditStatus()
    {
        JsRuntime.InvokeVoidAsync("updateEditStatus");
    }
}
