@inject NavigationManager NavigationManager

<div class="navbar-container">
    <a href="#" class="nav-header"><h2 style="margin: 0;">Hawkins Public Library</h2></a>
    <div></div>
    <a href="recommendations"><i class="bi bi-hand-thumbs-up-fill nav-icon"></i></a>
    <a href="basket"><i class="bi bi-basket2-fill nav-icon"/></a>
    <a href="help"><i class="bi bi-question-circle nav-icon"/></a>
    <a href="sign-up"><button>Sign Up</button></a>
    <button>Login</button>
    <NavLink href="/account"><button>Account</button></NavLink>
    <NavLink href="/items"><button>Items</button></NavLink>

</div>

@code {
    //TODO Figure out how to change navbar icon styling when on a page
    //Ex. when we are on the recommendations page, the recommendations icon is red

    /*
    string iconStyle;
    bool temp;

    protected override void OnInitialized()
    {
        temp = NavigationManager.Uri.Contains("counter");

        if(NavigationManager.Uri.Contains("/counter"))
        {
            iconStyle = "selected-nav-icon";
        } else
        {
            iconStyle = "nav-icon";
        }
    }
    */
}
